*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.navbar{
    display: flex;
    
    width: 100%;
    height: 60px;
    background-color:rgba(64, 41, 168, 0.685) ;
    position: relative;
    border-radius: 5px;
    
}
.fal{
    color: rgba(207, 9, 9, 0.781) ;
}
.pot{
    color: white;
}
.lio{
    color: rgba(13, 206, 240, 0.781);
}
.half-navber{
    width: 50%;
    text-align: left;
    padding-left: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    border:hidden;
    
}
.half-navber1{
    width: 50%;
    
}
.manu-group{
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding-right: 65px;
    margin-top: 15px;
   
    
}
.manu{
    font-weight: 400;
    font-size: 25px;
    color: white;

}
a{
    text-decoration: none;
   
}
.header-s{
    display: flex;
    width: 100%;
    height: 92vh;
    background-image: url("png/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    

}
.welcome-text{
    width: 50%;
    text-align: left;
    padding-top: 80px;
    margin: 10px;
    height: 88vh;
} 
.half{
    width: 50%;
    height: 88vh;
    margin-top: 15px;
    
    
}
img{
    width: 90%;
   height: 85vh;
    
}

.hello{
    font-size: 50px;
    font-weight: 700;
    padding: 10px 0 40px 5px;
    text-align: left;

}
.user-name{
    color: rgba(155, 41, 111, 0.637);
    font-size: 40px;
    font-weight: 400;
    padding-right: 15px;
   
}
h3{
    font-size: 30px;
    padding-bottom: 20px;
    text-align: left;
    
}
h4{
    font-size: 25px;
    font-weight: 400;
    padding-left: 5px;
    padding-bottom: 10px;
}
p{
    text-align: justify;
    padding-bottom: 40px;
    margin-left: 5px;
}
.link-batton{
    background-color:rgba(64, 241, 241, 0.637) ;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 20px;
    

}



/* ........2nd section.......... */

.header-h{
    display: flex;
    width: 100%;
    height: 92vh;
    margin-top: 200px;
    background-image: url("png/dream-bg.png");
    background-repeat: no-repeat;
    background-position-x: right;

}
.main{
    width: 100%;
    display: flex;
    padding-left: 30px;
    background-image: url("png/exp-bg.png");
    background-repeat: no-repeat;
    background-position-y: 60px;
    
}
.text-1st{
    width: 40%;
    box-shadow:10px 7px 40px;
    padding-left: 5px;
    margin:10px 70px 100px 30px ; 
    height: 50vh;
    border-radius: 5px;
    
   


} 
.frist{
    width: 40%;
    box-shadow:10px 7px 40px ;
    padding-left: 5px;
    margin:10px 70px 100px 10px ; 
   
    height: 50vh;
    border-radius: 5px;
}



.roi{
    padding-left: 50px;
    padding: 150px 0 50px 20px;
    font-size: 50px;
    font-weight: 700;
    
}
#rock{
    border-left: 7px solid ;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-image-slice: 1;

}
#rock1{
    border-left: 7px solid ;
    border-image: linear-gradient(#21e673, #680ae4) 30;
    border-image-slice: 1;


}
.hero{
    font-size: 15px;
    text-align: center;
}
.fab-icon{
    font-size: 25px;
    font-weight: 400;
    color: greenyellow;
   align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 48%;
}
